server:
  port: 8082

spring:
  application:
    name: catalog-service
  datasource:
    url: jdbc:postgresql://localhost:5432/booking_db
    username: postgres
    password: password
  jpa:
    hibernate:
      ddl-auto: validate
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml
  data:
    mongodb:
      uri: mongodb://admin:password@localhost:27017/catalog_db?authSource=admin
    redis:
      host: localhost
      port: 6379